<link rel='stylesheet' href="stylesheets/style.css">
    <footer>
		<address>
			<p><a href="mailto:liam.odubhgain@mycit.com">liam.odubhgain@mycit.com</a></p>
		</address>
		<p>&copy; 2023 Serverside Web Development</p>
		<p>All content and images taken from <cite>Yugipedia</cite> and <cite>Yu-Gi-Oh Wiki</cite></p>
	</footer>
</body>
</html>