<!-- Footer section containing contact information and copyright details -->
<footer>
	<!-- Email link for contact -->
		<address>
			<p><a href="mailto:liam.odubhgain@mycit.com">liam.odubhgain@mycit.com</a></p>
		</address>
		<!-- Copyright notice for the year 2023 and the course -->
		<p>&copy; 2023 Serverside Web Development</p>
		<!-- Acknowledgment of content and image sources -->
		<p>All content and images taken from <cite>Yugipedia</cite> and <cite>Yu-Gi-Oh Wiki</cite></p>
	</footer>
</body>
</html>