<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit">
    <title><% title %></title>
    <header>
    <nav>
    <a href="/">Homepage</a>
    <a href="/booking">Booking</a>
    <a href="/booking/view">View Bookings</a>
    <a href="/booking/search">Search For Booking</a>
    <a href="/About">About</a>
		<a href="/Help">Help</a>
	  </nav>
  </header>
</head>
<body>
