<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Link to the external stylesheet for styling -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <!-- Link to the Google Fonts library (Kanit font) -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit">
    <!-- Set the title of the page dynamically using the value from the server -->
    <title><% title %></title>
     <!-- Header section containing navigation links -->
    <header>
    <nav>
    <!--Link to homepage-->
    <a href="/">Homepage</a>
    <!--Link to booking page-->
    <a href="/booking">Booking</a>
    <!--Link to view bookings page-->
    <a href="/booking/view">View Bookings</a>
    <!--Link to search bookings page-->
    <a href="/booking/search">Search For Booking</a>
    <!--Link to about page-->
    <a href="/About">About</a>
    <!--Link to help page-->
		<a href="/Help">Help</a>
	  </nav>
  </header>
</head>
<body>
