<%- include('partials/head.ejs') %>
    <h1>About</h1>
    <main>
        <h2>What is Yu-Gi-Oh?</h2>
        <p>Yu-Gi-Oh is a card game created by Kazuki Takahashi in 1999. Oringally starting as a manga after selling 40 million copies, it was clear that the concept had potential. 
            Mr. Takahashi continued to supervise the anime and trading card game as they were developed. 
            Unfortunetly Mr. Takahashi was pronnuced dead on the 4th of July 2022, after drowning attempting to save others from a boat.
            After nearly 25 years Yu-Gi-Oh has grown and changed in many ways. With the addition of Synchro, XYZ, Pendulum, and Link monsters, 
            Yu-Gi-Oh has gone from a very simple game of playing one card and passing turn to your oppenent to turns lasting 15 minutes on average and using half your deck in a combo.
            This is why these Workshops were created, to help people understand the game in different complexities and formats. 
        </p>
        <h2>What is the difference between the Fromat</h2>
        <p>We offer 3 different Workshops,GOAT format, Edison format and Modern format. 
            "GOAT Format” refers to a Yu-Gi-Oh! format that was officially played during the summer of 2005. It gets its name from the popularity of the card Scapegoat during this time period.
            Edison Format gets its name from the only Shonen Jump Championship (SJC) to take place during this time period, the 75th SJC in Edison, New Jersey which occurred April 24-25, 2010. 
            This event marked the end of an era because it was the final and highest attended SJC with 2,175 participants, from then on the Yu-Gi-Oh! Championship Series (YCS) would replace the SJCs.
            Modern Yu-Gi-Oh is the game as it's played today, with the most up to date cards and banlist. 
        </p>
        <h2>What is covered in these Workshops?</h2>
        <p>In general these workshops cover 3 main things, deck building, summoning mechanics and rulings. Deck building covers the best practice for deck building, including staples for the format and some sample archetypes to build around.
            Summoning mechanics refers to the different types of summoning mechanics in the format, what each one does and how to do them. Finally rulings includes how cards interact with each other, including the different types of monsters, spells and traps.
        </p>
        <h2>Who are these workshops for?</h2>
        <p>These workshops are for every age group. Whether your young or old, looking to get into the game for the first time, picking it up again after many years or just trying to improve your knowledge or skills we will help you learn and enjoy Yu-Gi-Oh.
        </p>
        <h2>I really enjoyed the workshop, how else can I experience Yu-Gi-Oh?</h2>
        <p>There are many ways to experience Yu-Gi-Oh nowadays. With 7 different adaptations of the Yu-Gi-Oh anime, video games like Yu-Gi-Oh Duel Links and Yu-Gi-Oh Master Duel and many guides online there's plenty of ways to experience Yu-Gi-Oh.
        </p>
    </main>
    <%- include('partials/foot.ejs') %>