<%- include('partials/head.ejs') %>
	<main>
		<h2>Where are your workshops located?</h2><div id="address"><address>24 Henry St. Kenmare, County Kerry</address></div>
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2463.054846514106!2d-9.585961984268128!3d51.878211379697824!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48456cac294778f1%3A0x3f96dc5de22347e4!2s24%20Henry%20St%2C%20Kenmare%2C%20Co.%20Kerry%2C%20V93%20P659!5e0!3m2!1sen!2sie!4v1669285627991!5m2!1sen!2sie" width="800" height="650" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="map"></iframe>
		<h2>Email us at: <a href="yugiohworkshops@gmail.com">yugiohworkshops@gmail.com</a></h2>
		<h2>Call or text us at: <a href="tel:3530869826790">0869826790</a></h2>
	</main>
<%- include('partials/foot.ejs') %>