<%- include('partials/head.ejs') %>
	<h1>Yu-Gi-Oh Workshops</h1>
	<main>
		<p>Welcome to Yu-Gi-Oh Workshops. Here you can learn how to play the many different ways to play Yu-Gi-Oh. We offer a range of different Workshops including GOAT Format, Edison Format and the current Format.</p>
		<h2>Book a workshop with us</h2>
		<div id="box-one">
		<img src="images/goat.png" alt="Goat" title="Goat" width="350" height="350"> <!--https://www.goatformat.com/uploads/1/1/9/9/119901143/comic-nic2-v5_orig.png-->
		<div id="bookingButton"><a href="Booking">Book GOAT Format workshop</a></div>
		</div>
		<div id="box-two">
		<img src="images/edison_format.png" alt="Edison" title="Edison" width="350" height="350"><!--https://www.edisonformat.com/uploads/1/3/4/1/134149181/published/social-w.png?1631228225-->
		<div id="bookingButton"><a href="Booking">Book Edison Fromat workshop</a></div>
		</div>
		<div id="box-three">
		<img src="images/modern.png" alt="Modern Yu-Gi-Oh" title="Modern Yu-Gi-Oh" width="350" height="350"><!--https://www.hiclipart.com/free-transparent-background-png-clipart-vzypc-->
		<div id="bookingButton"><a href="Booking">Book Modern Yu-Gi-Oh workshop</a></div>
		</div>
		
	</main>
<%- include('partials/foot.ejs') %>