<%- include('partials/head.ejs') %>
<h1>Search for a booking</h1>
<h2>Enter the name of the booking you would like to find</h2>
<form action="/booking/search" method="post">
    <p>
        <label>Name:<input  required type="text" name="searchName" placeholder="Enter the name"></label>
    </p>
    <button type="submit">Search</button>
    </form>
<%- include('partials/foot.ejs') %>